---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { ButtonPropsColor, IconSide } from "../models/ButtonProps.model";

const cvButtonIcon = {
  name: "ic:baseline-cloud-download",
  side: IconSide.LEFT,
};
const contactMeButtonIcon = {
  name: "ri:mail-add-line",
  side: IconSide.LEFT,
};
---

<MainLayout>
  <div class="flex h-full flex-col items-center justify-center">
    <div class="flex w-2/3 flex-col justify-center gap-4 md:w-1/2 md:flex-row">
      <div class="flex flex-col">
        <span class="text-5xl font-bold md:text-8xl">Flavio</span>
        <span class="mb-4 text-5xl font-bold md:text-8xl">Rizzoglio</span>
        <p class="mb-4 hidden text-base font-normal md:block">
          Software Engineer and MSc student in Computer Science & Engineering.
          Experience in software development, web development and constantly
          looking to expand my knowledge. I love sports and I'm always down for
          a good challenge!
        </p>
        <Button
          text="DOWNLOAD MY CV"
          href=""
          icon={cvButtonIcon}
          isFilled={true}
          color={ButtonPropsColor.SECONDARY}
          classes="mb-1"
        />
        <Button
          text="CONTACT ME"
          href="mailto:flaviorizzoglio@gmail.com"
          icon={contactMeButtonIcon}
          isFilled={true}
          color={ButtonPropsColor.SECONDARY}
        />
      </div>
      <img
        src="/flavio-removebg-preview.png"
        alt="Picture of me."
        class="h-fit rounded-full"
      />
    </div>
  </div>
</MainLayout>
