---
import { Icon } from "astro-icon";
import { ButtonProps, ButtonPropsColor } from "../models/ButtonProps.model";

const {
  text,
  href,
  color,
  icon,
  isFilled = true,
  classes,
} = Astro.props as ButtonProps;
---

<a
  id={text}
  href={href}
  class:list={[
    "rounded-lg bg-indigo-500 font-medium px-2 py-3",
    classes,
    color === ButtonPropsColor.PRIMARY && isFilled
      ? "bg-white text-indigo-500"
      : "",
    color === ButtonPropsColor.SECONDARY && isFilled ? "bg-indigo-500" : "",
    color === ButtonPropsColor.PRIMARY && !isFilled ? "border-white" : "",
    color === ButtonPropsColor.SECONDARY && !isFilled
      ? "border-indigo-500 text-indigo-500"
      : "",
  ]}
>
  <div class="flex flex-row justify-center">
    {
      icon && icon.side === "left" && (
        <Icon class="mr-2" name={icon.name} height="24" width="24" />
      )
    }
    <span>{text}</span>
    {
      icon && icon.side === "right" && (
        <Icon class="ml-2" name={icon.name} height="24" width="24" />
      )
    }
  </div>
</a>
